@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(0, 148, 106);

  --text-color-light: rgb(0, 0, 0);
  --background-color-light: rgb(255, 255, 255);
  --text-grey-color-light: rgb(86, 86, 86);
  --divider-color-light: rgb(235 234 234);
  --sheet-background-color-light: rgb(255, 255, 255);

  --text-color-dark: rgb(255, 255, 255);
  --background-color-dark: rgb(0, 0, 0);
  --text-grey-color-dark: rgb(156 163 175);
  --divider-color-dark: rgb(30, 30, 30);
  --sheet-background-color-dark: rgb(0, 0, 0);
}

html.dark {
  --text-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --text-grey-color: var(--text-grey-color-dark);
  --divider-color: var(--divider-color-dark);
  --sheet-background-color: var(--sheet-background-color-dark);
}

html.light {
  --text-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --text-grey-color: var(--text-grey-color-light);
  --divider-color: var(--divider-color-light);
  --sheet-background-color: var(--sheet-background-color-light);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

.rounded-button {
  @apply transition-all text-center text-sm font-semibold 
  py-2 px-5 rounded-full text-white;
  background-color: var(--primary-color);
}

.rounded-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.text-hover:hover {
  color: var(--text-color);
}

.sheet-background-color {
  background-color: var(--sheet-background-color);
}

.text-color {
  color: var(--text-color);
}
